node_modules/
.DS_Store
server/node_modules/
server/client/node_modules/
server/client/dist/
dist/
server/dist/
public/
!server/client/public/
!server/client/public/**
server/client/public/favicon.ico
.env
server/.env
data/users.json
server/data/users.json
data/pages.json
server/data/pages.json
server/data/structure.json